<h1>{{title}}</h1>

{{> nav}}

<ul>
	{{#each catalogue}}
		{{#if_eq $.type 'unit'}}
			<li>
				<h1>{{$.name}}</h1>

				<table class="grid-item">
					{{> entries entries=this profiles=../profiles}}
				</table>

			</li>
		{{/if_eq}}
	{{/each}}
</ul>