<h1>{{title}}</h1>

{{> nav}}

{{#each config.gameSystem.profileTypes}}
	{{#each profileType}}
		<table class="grid-item">
			<caption>{{$.name}}</caption>
			<thead>
				<tr>
					<th></th>
					{{#each characteristicTypes}}
						{{#each characteristicType}}
							<th>{{$.name}}</th>
						{{/each}}
					{{/each}}
				</tr>
			</thead>
			<tbody>
				{{#each (filterProfiles ../../catalogue.profiles $.id)}}
					{{> profile this }}
				{{/each}}
			</tbody>
		</table>
	{{/each}}
{{/each}}

<script>
	{
		document.querySelectorAll('tbody').forEach(tbody => {
			if (!tbody.children.length) {
				tbody.parentNode.style.display = 'none'
			}
		});
	}
</script>