<h1>Data error</h1>

<p>This sometimes happens when parsing the data. Simply try again.</p>

{{#unless error.stack}}
	<script>location.reload()</script>
{{/unless}}

<div class="error">
	<h2>{{error.status}}</h2>
	<pre>{{error.stack}}</pre>
</div>
